html {
   font-family:Arial, Helvetica, sans-serif;
   background-color: #f4f4f4;
   height: 100%;
}

.cartSidebar{
    position:fixed;
    justify-self: right;
    width: 27vw;
    height: 100vh;
    background-color: rgb(117, 117, 117);
    z-index: 1000;
    visibility: hidden;
}

.cartSidebar{
    visibility: ;
}


body{
    margin: 0;
    overscroll-behavior: none;
    height: 100%;
}
.content{
    margin: 0;
    padding-top: 20px;
}

@keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% { background-position: 0% 50%; }
}

nav{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #73b15c 0%;
    height: 10%;
    width: 100vw;
    
}

.navLink{
    border-radius: 20px;
    padding: 10px;
      padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-color: transparent;
}

#mainLogo{
  width:90px; 
  height: 90px;  
}
.navLink:hover{
    border-radius: 20px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(25, 25, 25);
}

.navLink:focus{
    border-radius: 20px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(25, 25, 25);
}

header h1{
    font-size: 60px;
    text-align: center;
    color: white;
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

header{
    z-index: 1000;
    top: 0;
   
    background: linear-gradient(-45deg, #0e7cc8, #009688, #1976d2); 
   
    background-attachment: fixed ;

   background-size: 400% 400%;
   margin: 0;
}

header h2{
    font-size: 26px;
    text-align: center;
    color: white;
    padding-bottom: 90px;
    padding-top: 15px;
    margin-top: 0px;
    margin: 0;
}

nav a{ 


  Color: white;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}


.navbar{
    position: relative;
}
.custom-shape-divider-bottom-1754444994 {
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1754444994 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
}

.custom-shape-divider-bottom-1754444994 .shape-fill {
    fill: #f4f4f4;
}

#searchBar{
font-size: larger;
padding: 5px;
width:60vw;
height: 30px;
margin-left: 20px ;
margin-right: 35px ;
border-radius: 20px;
border-style: none;

}

#signIn{
font-size: larger;
height: 35px;
display: flex;
align-items: center;
justify-content: center;
margin-left: auto ;
border-radius: 20px;
background-color:transparent;
border-color: rgba(255, 255, 255);
border-style: solid;
color: rgba(255, 255, 255);
margin-right: 60px;
min-width: fit-content;

}

#signIn:hover{
  background-color: rgba(255, 255, 255);
  color: rgb(62, 61, 61);    
}

#signIn:focus{
  background-color: rgba(255, 255, 255);
  color: rgb(62, 61, 61);    
}

#cart{
    display: flex;
    margin-left: auto;
    margin-right: 45px;
    padding: 0;
    align-items: center;
    position: relative;
}

#cart:hover{
    filter: brightness(90%);
}

#cartLabel{
    color: rgb(255, 255, 255);
    background-color: rgb(195, 51, 51);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 24px;
    top: -1px;
}

#hamburger-toggle{
    display:none;
}

.hamburger{
    font-size: larger;
    cursor: pointer;
    display: none;
}

.hamburgerLinks{
    display: flex;
    padding: 0;
    margin: 0 ;
   
}

@media (max-width: 1086px) {

.hamburger{
    display: block;
    color: white;
    font-weight: bold;
    font-size:25px;
    border-radius: 20px;
    background-color: #e6e6e6 0%;
    
}
.hamburgerLinks{
    display: none;
    padding: 0;
    margin: 0 ;
   position: absolute;
   top: 90px;
   background-color: rgb(228, 228, 228 0);
   color: black;
   width: 100%;
   text-align: center;
   border-radius: 20px;
   font-size: larger;
   justify-content: center;
}
.navLink{
    color: whitesmoke;
}
#hamburger-toggle:checked + .hamburger + .hamburgerLinks{
    display: flex;
}
.hamburger:hover{
    display: block;
    color: rgb(44, 44, 44);
    font-weight: bold;
}
}

@media (max-width: 600px) {
#mainLogo{
  width:70px; 
  height: 70px;  
  margin-top: 6px;
}
header h1{
    font-size: 1.8em;
}
header h2{
    font-size: 0.8em;
}
.hamburger{
    display: block;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.hamburger:hover{

    color: white;
}

.hamburgerLinks{
    display: none;
    padding: 0;
    margin: 0 ;
   flex-direction: column;
   position: absolute;
   top: 90px;
   background-color: rgb(228, 228, 228 0);
   color: black;
   width: 100%;
   text-align: center;
   border-radius: 20px;
   font-size: larger;
}
.navLink{
    color: whitesmoke;
}
#hamburger-toggle:checked + .hamburger + .hamburgerLinks{
    display: flex;
}

#hamburger-toggle:checked ~ #searchBar{
    margin-bottom: 100px;
    visibility: hidden;
}

.custom-shape-divider-bottom-1754444994 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 39px;
}

nav{
flex-wrap: wrap;
}
#searchBar{
    order: 2;
flex-basis: 100%;
margin-left: 5px;
margin-right: 5px;

}
#cart{
    margin-left: auto;
    margin-right: 20px;
}
#signIn{
    margin-left: 0;
    margin-right: 5vw;
}
}

footer {
background: linear-gradient(-45deg, #0e7cc8, #009688, #1976d2); 
    background-attachment: fixed ;
   background-size: 400% 400%;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

#footerContent{
    display: grid;
        grid-template-columns: 1fr 1fr; 

}
.footerColumn{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
}

.footerColumn a{

    text-decoration: none;
    color: white;
    padding: 12px;
    /* padding-left: 20px; */
    padding-right: 20px;
    border-radius: 20px;
}

.footerColumn a:hover{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(25, 25, 25);
}

.footerColumn a:focus{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(25, 25, 25);
}

.footerNavLinks{
    margin-left: auto;
    margin-right: 80px ;
}




.footer-custom-shape-divider-bottom-1754444994 {
    transform: scaleX(-1);
    visibility: hidden;
}

.footer-custom-shape-divider-bottom-1754444994 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 0px;

}

.footer-custom-shape-divider-bottom-1754444994 .shape-fill {
    fill: #f4f4f4;
}
